<%- include('./_header.ejs');%>

<div class="container">
    <h1 class="h1">Delete an article</h1>
    <form action="/article/delete/<%= article._id%>" method="POST">

        <!-- ARTICLE NAME -->
        <div class="form-group">
            <label for="article_name">Article name</label>
            <input disabled type="text" class="form-control" name="article_name" id="article_name"
            <% if( article ){ %>
                value="<%= article.article_name %>"
            <%}%>
            placeholder="Enter article name">
        </div>

        <!-- ARTICLE DESCRIPTION -->
        <div class="form-group">
            <label for="article_description">Article description</label>
            <input disabled type="text" class="form-control" name="article_description" id="article_description"
            <% if( article ){ %>
                value="<%= article.article_description %>"
            <%}%>
            placeholder="Enter article description">
        </div>
        <p>Are you sure you want to delete this article ?</p>
        <button type="submit" class="btn btn-danger">Yes</button>
    </form>
</div>

<%- include('./_footer.ejs');%>